on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: |
          docker run --rm -i \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -e NIX_CONFIG='experimental-features = nix-command flakes pipe-operators' \
          nixos/nix:latest sh <<'EOF'
          set -e

          git config --global --add safe.directory $(pwd)

          owner=${{ github.repository_owner }}
          repo=${{ github.repository }}
          repo="${repo#$owner/}"

          for file in src/*.gleam; do
            task=$(basename "$file" .gleam)
            echo "Building task: $task"
            nix develop -c gleam run -m lustre/dev build --minify --outdir="public/$task" "$task"
            nix develop -c sed -i "s|/$task.js|/$repo/$task/$task.js|" "public/$task/index.html"
          done
          EOF

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
